<h1>Create a New Meetup</h1>
    <form action="/" method="POST">

      <label for="new_meetup">Title</label>
        <div class="input"><input type="text" placeholder = "title" id="new_meetup" name="meetup[title]" /></div><br>

      <label for="new_meetup">Topic</label>
        <div class="input"><input type="text" placeholder = "topic" id="new_meetup" name="meetup[topic]" /></div><br>

      <label for="new_meetup">Description</label>
        <div class="input"><input type="text" placeholder = "description" id="new_meetup" name="meetup[description]" /></div><br>

      <label for="new_meetup">When</label>
        <div class="input"><input type="text" placeholder = "yyyy-mm-dd hh:mm:ss" id="new_meetup" name="meetup[meets_at]" /></div><br>

      <label for="new_meetup">Where</label>
        <div class="input"><input type="text" placeholder = "location" id="new_meetup" name="meetup[location]" /></div><br>

      <label for="new_meetup">Address</label>
        <div class="input">
          <input type="text" placeholder = "street" id="new_meetup" name="meetup[address]" />
          <input type="text" placeholder = "city" id="new_meetup" name="meetup[city]" />
          <input type="text" placeholder = "state" id="new_meetup" name="meetup[state]" />
          <input type="text" placeholder = "zipcode" id="new_meetup" name="meetup[zipcode]" />
        </div><br>

      <input type="submit" />
    </form>
  </body>
</html>
